---
// Giscus 댓글 컴포넌트
// GitHub repo에서 Discussions 활성화 필요
// https://giscus.app 에서 설정 후 repo/repoId/categoryId 업데이트
---

<div class="giscus-wrapper">
  <p class="giscus-title">Comments</p>
  <script
    src="https://giscus.app/client.js"
    data-repo="wonderit/wonderx-blog"
    data-repo-id="R_kgDORJ3zEg"
    data-category="Announcements"
    data-category-id="DIC_kwDORJ3zEs4C19G4"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="dark_dimmed"
    data-lang="ko"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</div>
