@mixin styles {
  color-scheme: dark;

  /* Framework color */
  --main-bg: rgb(27 27 30);
  --mask-bg: rgb(68 69 70);
  --main-border-color: rgb(44 45 45);

  /* Common color */
  --text-color: rgb(210 211 213);
  --text-muted-color: #999;
  --text-muted-highlight-color: #c0c0c0;
  --heading-color: #e0e0e0;
  --label-color: #b5b5b5;
  --blockquote-border-color: rgb(75 75 75);
  --blockquote-text-color: #9a9a9a;
  --link-color: rgb(130 177 255);
  --link-underline-color: rgb(90 120 170);
  --button-bg: #252528;
  --btn-border-color: #3a3b3d;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #2a2a2c;
  --card-header-bg: #2c2c2e;
  --checkbox-color: rgb(130 132 134);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(22 22 24) 0%, rgb(32 32 32) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0%,
    rgb(58 55 55 / 40%) 50%,
    rgb(255 255 255 / 0%) 100%
  );

  /* Sidebar */
  --site-title-color: #a0a0a0;
  --site-subtitle-color: #909090;
  --sidebar-bg: #1e1e1e;
  --sidebar-border-color: #2c2c2e;
  --sidebar-muted-color: #909090;
  --sidebar-active-color: rgb(255 255 255 / 95%);
  --sidebar-hover-bg: #2a2a2c;
  --sidebar-btn-bg: #28282c;
  --sidebar-btn-color: #909090;
  --avatar-border-color: rgb(206 206 206 / 90%);

  /* Topbar */
  --topbar-bg: rgb(27 27 30 / 80%);
  --topbar-text-color: var(--text-color);
  --search-border-color: rgb(60 60 62);
  --search-icon-color: rgb(120 122 125);
  --input-focus-border-color: rgb(130 132 135);

  /* Home page */
  --post-list-text-color: rgb(200 201 203);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #323234;

  /* Posts */
  --toc-highlight: rgb(130 185 250);
  --toc-popup-border-color: #404042;
  --tag-hover: rgb(45 60 70);
  --tb-odd-bg: #262628; /* odd rows of the posts' table */
  --tb-even-bg: rgb(32 32 36); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(70 90 190);
  --btn-share-color: #8a8e95;
  --btn-share-hover-color: #d0d2da;
  --card-bg: #222224;
  --card-hover-bg: #3a3e42;
  --card-shadow: rgb(10 10 10 / 60%) 0 6px 18px 0,
    rgb(80 80 80 / 20%) 0 0 0 1px;
  --kbd-wrap-color: #7a7a7a;
  --kbd-text-color: #e0e0e0;
  --kbd-bg-color: #2a2a2c;
  --prompt-text-color: rgb(220 218 218 / 85%);
  --prompt-tip-bg: rgb(22 60 36 / 64%);
  --prompt-tip-icon-color: rgb(30 180 30 / 85%);
  --prompt-info-bg: rgb(7 59 104 / 80%);
  --prompt-info-icon-color: #1a8aee;
  --prompt-warning-bg: rgb(90 69 3 / 88%);
  --prompt-warning-icon-color: rgb(255 175 30 / 85%);
  --prompt-danger-bg: rgb(86 28 8 / 80%);
  --prompt-danger-icon-color: #e03030;

  /* Tags */
  --tag-border: rgb(65 85 95);
  --tag-shadow: rgb(35 36 38);
  --dash-color: rgb(70 72 76);
  --search-tag-bg: #2c2c2e;

  /* Categories */
  --categories-border: rgb(70 72 76 / 50%);
  --categories-hover-bg: rgb(80 82 85);
  --categories-icon-hover-color: white;

  /* Archive */
  --timeline-node-bg: rgb(160 162 168);
  --timeline-color: rgb(70 72 76);
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highlight colors */
  --language-border-color: #333335;
  --highlight-bg-color: #181818;
  --highlighter-rouge-color: #d0e4f5;
  --highlight-lineno-color: #8a8a8a;
  --inline-code-bg: rgb(255 255 255 / 8%);
  --code-color: #c0c0c0;
  --code-header-text-color: #7a7a7a;
  --code-header-muted-color: #3a3a3c;
  --code-header-icon-color: #656568;
  --clipboard-checked-color: #35dd35;
  --filepath-text-color: #d5d5d5;

  .light {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(26 26 30),
      rgb(39 39 45),
      rgb(39 39 45),
      rgb(39 39 45),
      rgb(26 26 30)
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* --- Syntax highlight theme from `rougify style base16.dark` --- */

  .highlight .gp {
    color: #87939d;
  }

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #d0d0d0;
    background-color: #151515;
  }

  .highlight .err {
    color: #151515;
    background-color: #ac4142;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #848484;
  }

  .highlight .cp {
    color: #f4bf75;
  }

  .highlight .nt {
    color: #f4bf75;
  }

  .highlight .o,
  .highlight .ow {
    color: #d0d0d0;
  }

  .highlight .p,
  .highlight .pi {
    color: #d0d0d0;
  }

  .highlight .gi {
    color: #90a959;
  }

  .highlight .gd {
    color: #f08a8b;
    background-color: #320000;
  }

  .highlight .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #aa759f;
  }

  .highlight .kc {
    color: #d28445;
  }

  .highlight .kt {
    color: #d28445;
  }

  .highlight .kd {
    color: #d28445;
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #90a959;
  }

  .highlight .sa {
    color: #aa759f;
  }

  .highlight .sr {
    color: #75b5aa;
  }

  .highlight .si {
    color: #b76d45;
  }

  .highlight .se {
    color: #b76d45;
  }

  .highlight .nn {
    color: #f4bf75;
  }

  .highlight .nc {
    color: #f4bf75;
  }

  .highlight .no {
    color: #f4bf75;
  }

  .highlight .na {
    color: #6a9fb5;
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #90a959;
  }

  .highlight .ss {
    color: #90a959;
  }
}
